services:
  - type: web
    name: study-game-front
    env: static
    rootDir: apps/frontend
    buildCommand: npm install && npm run build
    staticPublishPath: apps/frontend/dist
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
    envVars:
      - key: VITE_API_BASE
        value: https://study-game-back.onrender.com
